# Python bytecode
*.pyc
*.pyo
__pycache__/

# Virtual environment
venv/
ENV/
env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/
.ipynb

# macOS
.DS_Store

# Windows
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp

# Logfiles
*.log

# Exiobase databases
exiobase/*
!exiobase/.gitkeep
